!!! 5
%html
  %head
    :css
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
  %body{ style: 'overflow: hidden; width: 100%; height: 100%' }
    = raw @card.html
